* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
html, body {
  height: 100%;
  border: 0;
}
body {
  background: linear-gradient(#1F1C2C, #928DAB);
  //background-color: #e2e3ca;
}
