* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
html, body {
  height: 100%;
  border: 0;
}
body {
  background-color: #90a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
}
