.app {
  font-family: "Roboto Light";
  font-size: 45px;
  color: antiquewhite;
}
.myImg {
  width: 150px;
  height: 150px;
  background: url("../assets/logo.svg") no-repeat 50%;
  border: 1px solid white;
};
.rr {}
